<%= provide(:title, "Users") %>
<div class="row">
  <% @users.each_with_index do |user, index| %>
    <div class="col-md-3">
      <br><div class="card">
        <%= image_tag user.image || 'blank_image.png', class: "card-img-top img-fluid", size: "480x480", alt: "Card image cap" %>
        <div class="card-block">
          <h4 class="card-title"><%= link_to user.name, user_path(user) %></h4>
        </div>
        <div class="card-footer">
          <%= vote_button(user, false) %>
          <%= vote_button(user, true) %>
        </div>
      </div>
    </div>
  <% end %>
</div>




