<div class="row">
  <div class="col-md-4">
    <div class="card">
      <%= image_tag @user.image, class: "card-img-top", alt: "Card image cap" %>
      <div class="card-block">
        <h4 class="card-title"><%= @user.name %></h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= @user.gender %></li>
        <li class="list-group-item"><%= @user.email %></li>
        <li class="list-group-item"><%= @user.age_group %></li>
      </ul>
      <div class="card-block">
        <div class="row">
          <div class="col-md-6">
            <% if current_user.favoriting?(@user) %>
              <%= unfollow_button(@user, false) %>
            <% elsif !current_user.blocking?(@user) %>
              <%= follow_button(@user, false) %>
            <% end %>
          </div>
          <div class="col-md-2">
            <% if current_user.blocking?(@user) %>
              <%= unfollow_button(@user, true) %>
            <% else %>
              <%= follow_button(@user, true) %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <table class="table">
      <thead class="thead">
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @user.stories.each do |story| %>
          <tr>
            <td><%= link_to story.title, story_path(story) %></td>
            <td><%= link_to story.user.name, user_path(story.user) %></td>
            <td>
                <%= link_to "Edit", edit_story_path(story) %> |
                <%= link_to "Delete", story_path(story), method: :delete %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
  
