<%= provide(:title, @user.name) %>
<br>
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <%= image_tag @user.image || 'blank_image.png', class: "card-img-top img-fluid", size: "480x480", alt: "Card image cap" %>
      <div class="card-block">
        <h4 class="card-title"><%= @user.name %></h4>
      </div>
      <div class="profile-footer">
        <%= switch(@user, false) %>
        <%= switch(@user, true) %>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <div class="row">
      <div class="col-md-12">
        <%= paginate @stories %>
      </div>
    </div>
    <div class="row stories">
      <div class="col-12">
        <% @stories.each do |story| %>
            <div class="row story-row">
                <%= render 'shared/story_card', story: story %>
            </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= paginate @stories %>
      </div>
    </div>
  </div>
</div>
  
