<div class="row">
  <div class="col-md-4">
    <div class="card">
      <%= image_tag @user.image, class: "card-img-top img-fluid", size: "400x400", alt: "Card image cap" %>
      <div class="card-block">
        <h4 class="card-title"><%= @user.name %></h4>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-md-6">
            <% if current_user.favoriting?(@user) %>
              <%= unfollow_button(@user, false) %>
            <% elsif !current_user.blocking?(@user) %>
              <%= follow_button(@user, false) %>
            <% end %>
          </div>
          <div class="col-md-2">
            <% if current_user.blocking?(@user) %>
              <%= unfollow_button(@user, true) %>
            <% else %>
              <%= follow_button(@user, true) %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <div class="row">
      <div class="col-md-12">
        <%= paginate @stories %>
      </div>
    </div>
    <% @stories.each do |story| %>
      <% unless current_user.blocking?(story.user) %>
        <div class="row story-row">
          <div class="col-md-12">
            <%= render 'shared/story_card', story: story %>
          </div>
        </div>
      <% end %>
    <% end %>
    <div class="row">
      <div class="col-md-12">
        <%= paginate @stories %>
      </div>
    </div>
  </div>
</div>
  
