<%= provide(:title, "Stories") %>
<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <div class="row toolbar-row">
      <div class="col-md-12 toolbar-col">
        <%= render 'shared/categories' %>
        <%= paginate @stories %>
      </div>
    </div>
    <div class="row stories">
      <div class="col-12">
        <% @stories.each do |story| %>
          <div class="row story-row">
            <%= render 'shared/story_card', story: story %>
          </div> 
        <% end %>
      </div>
    </div>
    <div class="row toolbar-row">
      <div class="col-md-12 toolbar-col">
        <%= render 'shared/categories' if @stories.count > 25 %>
        <%= paginate @stories %>
      </div>
    </div>
  </div>
</div>





