
<% @stories.each do |story| %>
  <% unless current_user.blocking?(story.user) %>
    <div class="row story-row">
      <div class="col-md-1 story-favorites">
        <% if current_user.favoriting?(story.user) %>
          <%= button_to relationship_path(current_user.active_relationship(story.user)), 
              method: :delete,
              class: "btn btn-sm btn-secondary active",
              params: { follower_id: current_user.id, followed_id: story.user.id } do %>
                <i class="fa fa-heart"><%= " #{ story.favorite_count}" %></i>
          <% end %>
          
        <% else %>
          <%= button_to relationships_path, 
            class: "btn btn-secondary btn-sm", params: { follower_id: current_user.id, 
                                               followed_id: story.user.id, 
                                               story_id: story.id,
                                               block: false } do %>
            <i class="fa fa-heart"><%= " #{ story.favorite_count }" %></i>
          <% end %>
        <% end %>
      </div>
      <div class="col-md-1 story-hidden">
        <%= button_to relationships_path,
          class: "btn btn-secondary btn-sm", params: { follower_id: current_user.id,
                                              followed_id: story.user.id,
                                              story_id: story.id,
                                              block: true } do %>
          <i class="fa fa-times"><%= " #{ story.block_count }" %></i>
        <% end %>
      </div>
      <div class="col-md-2 story-title">
        <h6><%= link_to story.title, story_path(story) %></h6> 
      </div>
      <div class="col-md-2 story-author">
        <h6><%= link_to story.user.name, user_path(story.user) %></h6>
      </div>     
      <div class="col-md-5 story-description">
        <%= story.description %>
      </div>
    </div>
  <% end %>
<% end %>


<div class="row">
  <div class="col-md-4">
    <%= link_to "New Story", new_story_path, class: "btn btn-primary" %>
  </div>
</div>


