<%= provide(:title, "Stories") %>
<div class="row">
  <div class="col-md-8 offset-md-2">
    <%= render template: 'categories/index' %>
  </div>
</div>
<div class="row">
  <div class="col-md-8 offset-md-2">
    <%= paginate @stories %>
  </div>
</div>
<% @stories.each do |story| %>
  <div class="row story-row">
    <div class="col-md-8 offset-md-2">
      <%= render 'shared/story_card', story: story %>
    </div>
  </div>
  

<% end %>
<div class="row">
  <div class="col-md-8 offset-md-2">
    <%= paginate @stories %>
  </div>
</div>





