<div class="row">
  <div class="offset-md-2 col-md-8">
    <h1 class="story-title"><%= @story.title %></h1>
  </div>
</div>

<div class="row story-body">
  <div class="offset-md-2 col-md-8">
    <%= story_format(@story.body) %>
  </div>
</div>

<div class="row">
  <div class="offset-md-2 col-md-2">
    <% if current_user.favoriting?(@story.user) %>
      <%= unfavorite_button(@story) %>
    <% elsif !current_user.blocking?(@story.user) %>
      <%= favorite_button(@story) %>
    <% end %>
  </div>
  <div class="col-md-2">
    <% if current_user.blocking?(@story.user) %>
      <%= unhide_button(@story) %>
    <% else %>
      <%= hide_button(@story) %>
    <% end %> 
  </div>
</div>