<% provide(:title, @story.title) %>
<div class="row">
  <div class="offset-md-2 col-md-8">
    <h1 class="story-title"><%= @story.title %></h1>
  </div>
</div>

<div class="row story-body">
  <div class="offset-md-2 col-md-8">
    <%= story_format(@story.body) %>
  </div>
</div>

<div class="row">
  <div class="offset-md-2 col-md-2">
    <div class="favorite">
      <% if current_user.favoriting?(@story.user) %>
        <%= unfollow_button(@story, false) %>
      <% elsif !current_user.blocking?(@story.user) %>
        <%= follow_button(@story, false) %>
      <% end %>
    </div>
    <div class="hide">
      <% if current_user.blocking?(@story.user) %>
        <%= unfollow_button(@story, true) %>
      <% else %>
        <%= follow_button(@story, true) %>
      <% end %>
    </div> 
  </div>
</div>