<nav class="navbar navbar-light navbar-toggleable-md bg-faded">
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <%= link_to "Stories", stories_path, class: "nav-link#{active_if(stories_path)}" %>
    </li>
    <li class="nav-item">
      <%= link_to "Writers", users_path, class: "nav-link#{active_if(users_path)}" %>
    </li>
    <li class="nav-item">
      <%= link_to "Favorites", relationships_path, class: "nav-link#{active_if(relationships_path)}" %>
    </li>
    <li class="nav-item">
      <%= link_to "Submit", new_story_path, class: "nav-link#{active_if(new_story_path)}" %>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle<%= active_if('dropdown') %>" href="http://example.com" 
        id="navbarDropdownMenuLink" data-toggle="dropdown" 
        aria-haspopup="true" aria-expanded="false">Menu
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <%= link_to "logout", logout_path, class: "dropdown-item" %>
        <%= link_to "Profile", user_path(current_user), class: "dropdown-item" %>
        <%= link_to "Hidden Writers", blocked_users_path, class: "dropdown-item" %>
        <%= link_to "All users", all_users_path, class: "dropdown-item" %>
      </div>
    </li>
  </ul>
</nav>