<!DOCTYPE html>
<html>
  <head>
    <title>Stories</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <%= link_to 'Home', root_url %><br>
      <%= link_to 'logout', logout_path %><br>
    <% else %>
      <%= link_to 'login', login_path %><br>
    <% end %>
    <%= yield %>
  </body>
</html>
